<% include ../partials/meta.ejs %>
<title>Welcome</title>
<% include ../partials/header.ejs %>

  <div class="row">
    <div class="col-md-12 text-center"> 
      <% if (typeof nume !== 'undefined') { %>
        <h1>Welcome, <%= nume %>!</h1> 
        <form action='/goodbye' method="POST">
          <button type="submit" class="btn btn-info">Goodbye!</button>
        </form>

      <% } else { %>
        <h1>Welcome, student!</h1>       
      <% } %>
    
      <div class="mt-4">
        <img src= "/static/keep_calm.gif" >
      </div>
      
    </div>
  </div>

<% include ../partials/footer.ejs %>